@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

body {
  margin: 70px 10px 55px 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  color: #EEEEEE;
  font-size: 14px;
  font-family: 'Space Mono', monospace;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  width: 100%;
}
.box {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.highlight {
  color: #7FEFBD;
}
.highlight-2 {
  color: #cba135;
}
.highlight-3 {
  color: #181818;
}
hr {
  margin-top: 30px;
  border-width: 0;
  border-top: 2px solid #EEEEEE;
  width: 80px;
}
a {
  color: #5bc79f;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover{
  color: #fd49ff;
}
/* img {
  margin: 0 15px;
} */
.introComp {
  font-size: 45px;
}
.helloHeather {
  margin-top: -30px;
}
.paraFormat {
  text-align: justify;
  padding: 10px
}
.faChev {
  padding: 25px;
  color: #CBA135;
}
.stackFormat {
  padding: 10px;
}
.techStack {
  display: flex;
  flex-direction: column;
}
.aboutPhoto {
  width: 300px;
  margin: 0 auto;
}
.projectBg {
  background-color: #ffffff1a;
  margin-bottom: 30px;
  padding: 10px;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer {
  margin-top: 40px;
  text-align: center;
}

@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) { 
  .box{
    width: 75%;
  }
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .box {
      width: 100%
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
  .box {
      width: 100%
  }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .box {
    width: 100%;
  }
  .aboutPhoto {
    width: 90%;
  }
}
